defaults:
  - default_composer  # Pull in composer setup defaults
  - overrides callbacks:
      - log_profiling_trace_to_wandb
      - hf_compatible_checkpointing
      - lr_monitor
#      - memory_monitor
#      - optimizer_monitor
      - runtime_estimator
      - save_best_checkpointing
      - speed_monitor
  - profiler@trainer.profiler: profiler
  - _self_

trainer:
  run_name: ${run_name}_profiling
  train_subset_num_batches: 20
  max_duration: '2ep'
  eval_interval: '0ep'  # Set to 0 to disable evaluation
  console_log_interval: '10ba'
